{% extends 'base.html' %}
{% load static %}

<title>My Profile</title>


{% block content %}
{% if profile %}

    <div class="container text-center">
        <div class="row">
            <div class="col-8">
            <h1>
                {{ profile.user.username }}'s Profile
            </h1>
            <br/><br/>

                {% if chirps %}
                    {% for chirp in chirps %}
                        <div class="alert alert-dark" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-1">
                {% if profile.profile_pic %}
                <img src="{{ profile.profile_pic.url }}" width="50" height="50" 
                class="rounded-circle">
                {% else %}
                <img src="{% static 'images/default_profile_pic.png' %}" width="50" height="50" class="rounded-circle">

                {% endif %}
            </div>

            <div class="col-10">
                            {{chirp.body}}<br/>
                            <small class="text-muted">
                            ({{ chirp.created_at }}) By
                            @{{ chirp.user.username }}
                            - {{ chirp.total_faves }} favorites -
                            {% if user in chirp.favorites.all %}
                            <a href="{% url 'chirp_fave' chirp.id %}"><button class="btn btn-secondary"><i class="fas fa-star" style="color: goldenrod;"></i></button></a>
                            {% else %}
                            <a href="{% url 'chirp_fave' chirp.id %}"><button class="btn btn-secondary"><i class="far fa-star" style="color: goldenrod;"></i></button></a>
                            {% endif %}
                            &nbsp;&nbsp;
<a href="{% url 'show_chirp' chirp.id %}"><i class="fas fa-retweet" style="color: grey;"></i></a>
                            </small> 
            </div>
         </div>
    </div>  
    </div>
    

                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-4">
                <br/><br/><br/>
                {% if profile.profile_pic %}
                <img src="{{ profile.profile_pic.url }}" width="200" height="200" class="rounded-circle">
                {% endif %}
                <br/><br/>
                <div class="card">
                    <h5 class="card-header">Follows</h5>
                    <div class="card-body">
                      <p class="card-text">
                        {% for following in profile.follows.all %}
                        <a href ="{% url 'profile' following.user.id %}">@{{ following }}</a><br/>

                        {% endfor %}
                      </p>
                    </div>
                  </div>

                  <br/><br/>

                  <div class="card">
                    <h5 class="card-header">Followed By</h5>
                    <div class="card-body">
                      <p class="card-text">
                        {% for following in profile.followed_by.all %}
                        <a href ="{% url 'profile' following.user.id %}">@{{ following }}</a><br/>

                        {% endfor %}
                      </p>
                    </div>
                  </div>
            <br/>
            <form method="POST">
            {% csrf_token %}
            {% if profile in user.profile.follows.all %}
                <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">
                    Unfollow @{{profile.user.username|lower}}
                </button> 
            {% else %}
                <button class="btn btn-outline-success" name="follow" value="follow" type="submit">
                    Follow @{{profile.user.username|lower}}
                </button>

            {% endif %}
            </form>

            <br/> 
            {% if request.user.id == profile.user.id %}
                <a href="{% url 'update_user' %}" class="btn btn-outline-secondary">
                    Update Profile
                </a>
            {% endif %}
        
        
        </div>
        </div>
    </div>

    

{% endif %}

{% endblock %}

